<div style="text-align:center">
  <h1>Test Dynamic Form</h1> 
  <button (click)="addItem()">Add</button>
  <br>
  <br>
  <form [formGroup]="orderForm">
    <div formArrayName="items" *ngFor="let item of orderForm.get('items').controls; let i = index;">
      <div [formGroupName]="i">
        <!-- <input formControlName="name" placeholder="Item name"> -->
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food"
            formControlName="name"  >
        </mat-form-field>
        <input formControlName="description" placeholder="Item description">
        <input formControlName="price" placeholder="Item price">
      </div>
      Chosen name: {{ orderForm.controls.items.controls[i].controls.name.value }}
    </div>
  </form>
  
</div>
<router-outlet></router-outlet>